<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Feira Livre</title>
      </head>

      <body>
        <header>
          <div class="wrapper">
            <h1>Feira Livre</h1>
            <nav>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#localizacao">Localização</a></li>
                <li><a href="#produtos">Produtos</a></li>
                <li><a href="#feirantes">Feirantes</a></li>
                <li><a href="#depoimento">Depoimento do Público</a></li>
              </ul>
            </nav>
          </div>
        </header>
       
        <section id="localizacao">
          <div class="wrapper">
            <h2><strong>Localização</strong><br /></h2>
            <ul>
                <li>
                    <h4>Local: Praça Central da Cidade 2000</h4>
                    <h4>Bairro: Cidade 2000</h4>
                </li>
            </ul>
          </div>
        </section>

        <section id="produtos">
            <div class="wrapper">
              <h2><strong>Produtos</strong><br /></h2>
              <ul>
                  <li><h4>Frutas</h4></li>
                  <li><h4>Verduras</h4></li>
                  <li><h4>Roupas</h4></li>
                  <li><h4>Pequenos Serviços</h4></li>
                  <li><h4>Peixes e Crustáceos</h4></li>
                  <li><h4>Carnes</h4></li>
                  <li><h4>Doces</h4></li>                 
              </ul>
            </div>
          </section>

          <section id="feirantes">
            <div class="wrapper">
              <h2><strong>Feirantes</strong><br /></h2>
              <ul>
                  <li><h4>Fernanda Bandeira</h4></li>
                  <h5>Vendedora de Frutas</h5>
                  <li><h4>Dora Guimarães</h4></li>
                  <h5>Vendedora de Verduras</h5>
                  <li><h4>Bela Cotrim</h4></li>
                  <h5>Vendedora de Roupas</h5>
                  <li><h4>Nelson Leite</h4></li>
                  <h5>Pequenos Serviços</h5>
                  <li><h4>Aron Arantes</h4></li>
                  <h5>Vendedor de Peixes e Crustáceos</h5>
                  <li><h4>Edir Valadim</h4></li>
                  <h5>Vendedor de Carnes</h5>
                  <li><h4>Melyssa Salazar</h4></li>                 
                  <h5>Vendedora de Doces</h5>                 
              </ul>
            </div>
          </section>
          <section id="depoimento">
            <div class="wrapper">
              <h2><strong>Depoimento do Público</strong><br /></h2>
              <ul>
                  <li><p>"É verdadeiramente uma ótima feirinha, cheia de opções de produtos!"</p></li>                
                  <li><p>"É a minha feirinha semanal favorita."</p></li>                
                  <li><p>"Sempre lotada de gente!"</p></li>                
              </ul>
            </div>
          </section>


        </body>
</html>