body {
    background-color: rgb(154, 211, 199);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 4, 63);
}

a {
    color:rgb(180, 114, 8);
}

h1 {
    height: 100px;
    background: url(../images/feira-arte.jpeg);
    color: rgb(49, 226, 226);
    box-shadow: (10px 10px 10px rgb(45, 49, 46));
}

img {
    height: 350px;
}